{% extends 'main/base.html' %}

{% block content %}
<div id="about">
    <div class="container">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ut ipsam sed et illo nisi molestias</h1>
    </div>
</div>
<div class="container p-5 ">
    <h2 class="text-center">Initial Craf</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius quis nisi maiores earum provident, obcaecati
        deserunt similique illum reiciendis? Iste quidem cupiditate vero voluptas adipisci dicta sunt consectetur
        maxime? Necessitatibus.</p>
</div>

<div class="container">
    <h2 class="text-center">Product</h2>
    <div class="row">
        <div class="col">
            <div class="card " style="width: 20rem;">
                <img src="../../static/img/logo.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <div class="d-flex flex-row-reverse"><a href="/order" class="btn btn-success ">Order</a></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card " style="width: 20rem;">
                <img src="../../static/img/logo.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <div class="d-flex flex-row-reverse"><a href="/order" class="btn btn-success ">Order</a></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card " style="width: 20rem;">
                <img src="../../static/img/logo.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <div class="d-flex flex-row-reverse"><a href="/order" class="btn btn-success ">Order</a></div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}