<style>
    .navbar-scrolled {
        background-color: #343a40;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1020;

    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top"><img src="{{url_for('static', filename='images/logo.png')}}"
                style="height: 50px" alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse " id="navbarResponsive">
            <ul class="navbar-nav nav-underline ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/produk">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pesanan">Pesanan</a>
                </li>
                <div style="display: flex; gap: 4px;">
                    <li class="nav-item">
                        <a href="/signup" class="btn btn-outline-success">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="btn btn-outline-success">Sign In</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>
<script>
    window.addEventListener('scroll', function () {
        var navbar = document.getElementById('mainNav');
        if (window.scrollY > 50) {
            navbar.classList.add('navbar-scrolled');

        } else {

            navbar.classList.remove('navbar-scrolled');
        }
    });
</script>