<style>
    .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .monotype {
        font-family: 'Monotype Corsiva';
        font-size: larger;
        color: #d4af37
    }
</style>

<nav class="navbar navbar-expand-lg fixed-top roboto-light" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top"><img src="{{url_for('static', filename='images/logo.png')}}"
                style="height: 50px" alt="..." /><span class="monotype">Initial B</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navigation navbar-nav nav-underline menu ms-auto py-4 py-lg-0">
                {% if logged_in %}
                <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/produk">Product</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/home/pesanan">Pesanan</a>
                </li>

                {% elif not logged_in %}
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/produk">Product</a>
                </li>

                {% endif %}

            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ms-auto justify-content-center" style="text-decoration: none;">

                {% if logged_in%}
                <li class="nav-item dropdown" style="z-index: 1;">
                    <a class="nav-link dropdown-toggle d-flex align-items-center text-capitalize" href="#"
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user_info.profile_name}}
                        <img src="{{ url_for('static', filename=user_info.profile_pic_real) }}" alt="Profile"
                            class="rounded-circle me-2" style="width: 40px; margin-left: 4px;">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="transform: translateX(-45px);">
                        <li><a class="dropdown-item" href="/home/profile/{{user_info.username}}">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" style="cursor: pointer;" onclick="sign_out()">Logout</a>
                        </li>
                    </ul>
                </li>

                {% elif not logged_in %}
                <div style="display: flex; gap: 4px;" id="notLogin">
                    <li class="nav-item">
                        <a href="/signup" class="btn btn-outline-success rounded-pill">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="btn btn-outline-success rounded-pill">Sign In</a>
                    </li>
                </div>
                {% endif %}
            </ul>
        </div>

    </div>

</nav>