{% extends 'main/base.html' %}

{% block content %}

<main class="container my-5">
    <h2 class="text-center mb-4">PRODUK</h2>
    <div class="row">
        {% if condition %}
        {% for product in products %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../static/img/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{pesan.name}}</h5>
                    <p class="card-text">Rp. {{pesan.price}}</p>
                    <a href="#" class="btn btn-primary">Order</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="6"> Tidak ada data pesan anda </td>
        </tr>
        {% endif %}
    </div>
</main>

{% endblock %}