.navbar-nav .nav-link {
    color: rgb(5, 5, 5);
    text-underline-offset: 10px;
}

.custom-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 4px;
}

.custom-card img {
    height: 200px;
    object-fit: cover;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.col-6,
.col-md-4,
.col-lg-3,
.col-xl-2 {
    padding: 10px;
}

.col-6 {
    flex: 0 0 50%;
}

.col-md-4 {
    flex: 0 0 33.3333%;
}

.col-lg-3 {
    flex: 0 0 25%;
}

.col-xl-2 {
    flex: 0 0 20%;
}

@media (max-width: 575.98px) {
    .col-6 {
        flex: 0 0 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .col-6 {
        flex: 0 0 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .col-md-4 {
        flex: 0 0 33.3333%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .col-lg-3 {
        flex: 0 0 25%;
    }
}

@media (min-width: 1200px) {
    .col-xl-2 {
        flex: 0 0 20%;
    }
}



.modal-header {
    display: flex;
    align-items: center;
}

.modal-header img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;

}

.product-info {
    flex: 1;
}

.product-info h1 {
    margin: 0;
}

.product-info p {
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}