
* {
    font-family: "Nunito", "Segoe UI", Roboto;
}

/* Style sidebar */
.sidebar {
    z-index: 1;
    height: 100%;
    width: 250px;
    position: fixed;
    background: rgb(28, 200, 175);
    background: linear-gradient(180deg, rgba(28, 200, 175, 0.9551470246301645) 0%, rgba(28, 200, 138, 1) 65%);
    padding-top: 13px;
    color: white;

}

.sidebar .sidebar-brand {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: white;
    display: block;
    letter-spacing: 1px;
}



.sidebar ul li a {
    font-size: 16px;
    color: white;
    opacity: 60%;
    margin-top: 20px;
}

.sidebar ul li a:hover {
    opacity: 100%;
}

/* end style sidebar */


/* style Navbvar */
.navbar {
    background-color: white;
    color: #5a5c69;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}


.border-bottom {
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.navbar-toggler {
    color: #5a5c69
}
/* End style navbar */

/* Style Content Dashboard */
.content {
    margin-left: 250px;
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    color: #5a5c69;
}

.card-content .card .card-body .row{
    font-size: x-large;
    margin-left: 4px;
    
}

.card-content .card a{
  border-top-left-radius: 0 ;
  border-top-right-radius: 0 ;
    
}

.description-cell {
    max-width: 200px; 
    max-height: 100px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
   
}

.action-cell{
    display: flex;
    gap: 4px;
}

/* End style Content Dashboard */