{% extends 'login/baselogin.html' %}
{% block title %}
Register
{% endblock %}
{% block content %}

<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #help-id {
        color: red;
    }

    #help-password {
        color: red;
    }

    #help-password2 {
        color: red;
    }
</style>


<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4">
        <h2 class="text-center">Sign Up</h2>
        <p class="text-center">Create a new account</p>

        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" id="input-username-sign-up">
            <p id="help-id" class="help"></p>

        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password"
                id="input-password-sign-up">
            <p id="help-password" class="help">

            </p>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Confrim Your Password"
                id="input-password2">
            <p id="help-password2" class="help"></p>
        </div>
        <button type="submit" class="btn btn-dark btn-block" onclick="sign_up()">Sign Up</button>

        <div class="text-center mt-3">
            <a href="/login">Already have an account? Sign In</a>
        </div>
    </div>
</div>




{% endblock %}