{% extends 'dashboard/BaseDash.html' %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div style="display: flex;">
            <div>
                <h2>Detail Pesanan</h2>
                <p class="subtitle">Wedding Box</p>
            </div>
        </div>

        <div class="row">
            <!-- Display order details -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/static/uploads/{{ pesanan.image }}" alt="Gambar Produk" class="img-fluid">
                        </div>
                        <div class="col-md-9">
                            <h5 class="card-title">{{ pesanan.product_name }}</h5>
                            <p class="card-text">{{ pesanan.product_description }}</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Username pemesan: {{ pesanan.username }}</li>
                                <li class="list-group-item">Nama pemesan: {{ pesanan.customer_name }}</li>
                                <li class="list-group-item">Alamat pemesan: {{ pesanan.address }}</li>
                                <li class="list-group-item">Tanggal pesanan: {{ pesanan.order_date.strftime('%d-%m-%Y') }}</li>
                                <li class="list-group-item">Tanggal acara: {{ pesanan.event_date.strftime('%d-%m-%Y') }}</li>
                                <li class="list-group-item">Jumlah box: {{ pesanan.box_count }}</li>
                                <li class="list-group-item">Total Harga: Rp {{ pesanan.total | int | currency_format }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
