{% extends 'dashboard/BaseDash.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}


<div class="content">
    <div class="container-fluid">
        <div style="display: flex;">
            <div>
                <h2>Dashboard</h2>
                <p class="subtitle">Wedding Box</p>
            </div>
            <div class="mt-1" style="margin-left: auto;">

            </div>
        </div>


        <div class=" row">
            <!-- Cards -->
            <div class="col-md-4 col-sm-12 card-content">
                <div class="card mb-3 shadow">
                    <div class="card-body d-flex align-items-center">
                        <i class="fas fa-shopping-cart fa-4x"></i>
                        <div class="row">
                            <span>3</span>
                            <span>Total Pesanan</span>
                        </div>
                    </div>
                    <a href="#" class="btn btn-success  w-100">Detail</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 card-content">
                <div class="card mb-3 shadow">
                    <div class="card-body d-flex align-items-center">
                        <i class="fas fa-box fa-4x"></i>
                        <div class="row">
                            <span>{{total_produk}}</span>
                            <span>Total Produk</span>
                        </div>
                    </div>
                    <a href="#" class="btn btn-success  w-100">Detail</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 card-content">
                <div class="card mb-3 shadow">
                    <div class="card-body d-flex align-items-center">
                        <i class="fas fa-user fa-4x"></i>
                        <div class="row">
                            <span>3</span>
                            <span>Total User</span>
                        </div>
                    </div>
                    <a href="" class="btn btn-success  w-100" style="color: transparent;">Detail</a>
                </div>
            </div>


        </div>

        <!-- Table -->

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Nama barang</th>
                        <th>Tanggal pemesanan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Data 1</td>
                        <td>Data 2</td>
                        <td>Data 3</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}