{% extends 'dashboard/BaseDash.html' %}
{% block title %}
Kelola pesanan
{% endblock %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div style="display: flex;">
            <div>
                <h2>Pesanan</h2>
                <p class="subtitle">Wedding Box</p>
            </div>
            <form action="/admin/kelolapesanan/resetpesanan" method="POST" onsubmit="return validateReset()"
                class="mt-1" style="margin-left: auto;">
                <button action="" method="POST" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                        <path
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                    </svg>
                    Reset Pesanan
                </button>
            </form>
        </div>
        <script>
            function validateReset() {
                return confirm("Apakah anda yakin ingin mereset data pesanan")
            }
        </script>
        <!-- flash -->
        {% with msg = get_flashed_messages() %} {% if msg %} {% for msg in msg %}
        <div class="alert alert-success" role="alert">{{msg}}</div>

        {% endfor %} {% endif %} {% endwith %}
        <script>
            window.setTimeout(function () {
                $(".alert-success").alert('close');
            }, 3000);   
        </script>
        <!-- endflash -->
        <div class="row">
            <!-- Iterate over each order -->
            {% if pesanan_coll|length > 0 %}


            {% for pesanan in pesanan_coll %}
            <div class="col-md-4 col-sm-12 card-content">
                <div class="card mb-3 shadow">
                    <div class="card-body">
                        <h5 class="card-title">Pesanan oleh: {{ pesanan.username }}</h5>
                        <p class="card-text">Tanggal pesanan: {{ pesanan.created_at}}</p>
                        <p class="card-text">Total: Rp {{pesanan.totalprice }}</p>
                        <a class="btn btn-primary w-100" href="/admin/detailpesanan/{{pesanan._id}}">Detail</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {{ pagination.links }}
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}